@font-face {
  font-family: 'vazir medium';
  src: url('./assets/Vazir-Medium.ttf');
}

body{
  font-family: 'vazir medium';
}


li,
a{
  text-decoration: none;
  color: #333;
}


#modal{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  z-index: 1000;
  transform: translate(-50%,-50%);
}

.close-modal{
  text-align: start;
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
  display: inline-block;
}

.close-modal:hover{
  color: #ccc;
}

#modal .modal--inner{
  grid-template-columns: repeat(3,1fr);
  grid-gap:1rem;
  display:grid;
}

#modal .modal--inner > * > h3,
#modal .modal--inner > * > ul{
  background-color: rgb(197, 197, 197);
}

#modal .modal--inner > * > h3{
  text-align: center;
  padding: .75rem;
}

#modal .modal--inner > * > ul{
  padding: 1rem 2rem;
}
#modal .modal--inner > * > ul > li{
  margin: 1rem 0;
}


#overlay{
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  z-index: 100;
  left: 0;
  width: 100%;
  height: 100%;
}


.container{
  max-width: 1200px;
  margin: 0 auto;
}

.buttons{
  display: grid;
  grid-gap:1rem;
  grid-template-columns: repeat(2 , 1fr);
}

.buttons > *{
  padding: 1.8rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  font-family: 'vazir medium';
  font-size: 1rem;
}

.buttons > *:focus{
  outline: none;
}


@media screen and (max-width:992px) {
  .buttons{
    grid-template-columns: 1fr;
  }

  #modal{
    transform: translate(-50% ,-20%);
  }

  #modal .modal--inner{
    grid-template-columns: 1fr;
  }
  
}


@media screen and (max-width:768px) {

  #modal{
    transform: translate(-50% ,-20%);
    width: 80%;
  }

  
}
